
@{
    ViewBag.Title = "GioiThieuTiki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top: 12px; font-family:Arial, Helvetica, sans-serif ;font-size: 14px;box-sizing: border-box;">

    <div style="width: 1240px;padding-top: 6px;padding-right: 16px;padding-bottom: 6px;padding-left: 16px; margin-top: 0px;margin-right: auto;margin-bottom: 0px;margin-left: auto;">

        <div style="color: rgb(34, 34, 34);font-size: 32px;line-height: 40px;text-align: left;margin: 0px;letter-spacing: 0px;">

            <h2>Giới thiệu về Tiki</h2>

        </div>

    </div>

    <div style="width: 1240px;padding-top: 6px;padding-right: 16px;padding-bottom: 6px;padding-left: 16px; margin-top: 0px;margin-right: auto;margin-bottom: 0px;margin-left: auto;">

        <p style=" color: rgb(0, 0, 0);text-align: left; margin: 0px;font-size: 15px;line-height: 24px; white-space: wrap; letter-spacing: 0px;">
            Tiki là một hệ sinh thái thương mại tất cả trong một, gồm các công ty thành viên như:
            <br>
            <br>

            - Công ty TNHH TI KI ("TiKi") là đơn vị thiết lập, tổ chức sàn thương mại điện tử www.tiki.vn để các Nhà bán hàng thể tiến hành một phần hoặc toàn bộ quy trình mua bán hàng hóa, dịch vụ trên sàn thương mại điện tử.<br>
            - Công ty TNHH TikiNOW Smart Logistics ("TNSL") là đơn vị cung cấp các dịch vụ logistics đầu-cuối, dịch vụ vận chuyển, dịch vụ bưu chính cho Sàn thương mại điện tử www.tiki.vn<br>
            - Công ty TNHH MTV Thương mại Ti Ki ("Tiki Trading") là đơn vị bán hàng hóa, dịch vụ trên sàn thương mại điện tử <br>
            - Đơn vị bán lẻ Tiki Trading và Sàn Giao dịch cung cấp 10 triệu sản phẩm từ 26 ngành hàng phục vụ hàng triệu khách hàng trên toàn quốc.<br>
            <br>

            Với phương châm hoạt động “Tất cả vì Khách Hàng”, Tiki luôn không ngừng nỗ lực nâng cao chất lượng dịch vụ và sản phẩm, từ đó mang đến trải nghiệm mua sắm trọn vẹn cho Khách Hàng Việt Nam với dịch vụ giao hàng nhanh trong 2 tiếng và ngày hôm sau TikiNOW lần đầu tiên tại Đông Nam Á, cùng cam kết cung cấp hàng chính hãng với chính sách hoàn tiền 111% nếu phát hiện hàng giả, hàng nhái.
            <br>
            <br>
            Thành lập từ tháng 3/2010, Tiki.vn hiện đang là trang thương mại điện tử lọt top 2 tại Việt Nam và top 6 tại khu vực Đông Nam Á.
            <br>
            <br>
            Tiki lọt Top 1 nơi làm việc tốt nhất Việt Nam trong ngành Internet/E-commerce 2018 (Anphabe bình chọn), Top 50 nơi làm việc tốt nhất châu Á 2019 (HR Asia bình chọn)
        </p>

    </div>
    <div style="width: 1240px;padding-top: 6px;padding-right: 16px;padding-bottom: 6px;padding-left: 16px; margin-top: 0px;margin-right: auto;margin-bottom: 0px;margin-left: auto;">

        <div class="header-information">

            <h2>Thông tin về công ty</h2>

        </div>

    </div>
    <div style="width: 1240px;padding-top: 6px;padding-right: 16px;padding-bottom: 6px;padding-left: 16px; margin-top: 0px;margin-right: auto;margin-bottom: 0px;margin-left: auto;">

        <p style=" color: rgb(0, 0, 0);text-align: left; margin: 0px;font-size: 15px;line-height: 24px; white-space: wrap; letter-spacing: 0px;">
            - Công ty TNHH TI KI <br>
            - Địa chỉ đăng ký kinh doanh: Tòa Nhà Viettel, Số 285, Đường Cách Mạng Tháng 8 - Phường 12 - Quận 10 - TP Hồ Chí Minh - Việt Nam.
            <br>
            <br>
            - Giấy chứng nhận Đăng ký Kinh doanh số 0309532909 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày 06/01/2010
            <br>
            <br>
            Quý khách có nhu cầu liên lạc, trao đổi hoặc đóng góp ý kiến, vui lòng tham khảo các thông tin sau:
            <br>
            <br>
            - Liên lạc qua điện thoại: 1900 6035
            - Liên lạc qua email: Truy cập hotro.tiki.vn
            - Fanpage của Tiki: http://facebook.com/tiki.vn
            - Đối tác có nhu cầu hợp tác quảng cáo hoặc kinh doanh: marketing@tiki.vn
            <br>
            <br>
            - Văn phòng chính: Tòa nhà Viettel, 285 Cách Mạng Tháng 8, Phường 12, Quận 10, Thành phố Hồ Chí Minh.
            - Văn phòng: 52 Út Tịch, Phường 4, Quận Tân Bình, Thành Phố Hồ Chí Minh.
        </p>
</div>


