
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tiki Xu là gì? Giá trị quy đổi như thế nào?</title>
    <link rel="stylesheet" href="/asset/footer.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body>
    <div class="btn">

        <div class="header">
            <div class="header__search">
                <div class="header__search-input-wrap">
                    <input type="text" class="header__search-input" placeholder="Tìm kiếm">
                </div>
                <div class="header__search-btn ">
                    <i class="header__search-btn-icon fa-solid fa-magnifying-glass"></i>
                </div>
            </div>

        </div>
        <div class="content__inline"></div>
        <div class="content">
            <div class="content__rss">
                <div class="content__first">
                    <img src="/img/logo_Tiki_1.png" alt="">
                    <span><a class="content__first-link" href="">Gửi yêu cầu trợ giúp</a></span>
                </div>
                <div class="content__btn">
                    <div class="grid-content">
                        <div class="content__left">
                            <h3>Tiki Xu là gì? Giá trị quy đổi như thế nào?</h3>
                            <div class="content__left-clock">
                                <i class="fa-solid fa-clock"></i>
                                Tháng 10 10, 2022
                            </div>
                            <ul class="content__left-ul">
                                <li>
                                    <h4>1. Tiki Xu là gì?</h4>
                                    <span>
                                        - Tiki Xu là phiếu mua hàng điện tử được dùng để cấn trừ vào giá mua hàng hóa trên sàn giao dịch thương mại điện tử tiki.vn với tỉ lệ 1 Tiki Xu được cấn trừ tương đương với 1 đồng của giá bán hàng hóa.
                                        Tiki Xu sẽ không thể được tặng, gộp hoặc chuyển qua lại giữa các tài khoản.
                                    </span>
                                </li>
                                <li>
                                    <h4>2. Sử dụng Tiki Xu:</h4>
                                    <span>
                                        - Quý khách sẽ sử dụng Tiki Xu đang có trong tài khoản để giảm giá cho đơn hàng mới bằng cách đánh dấu (tick) vào ô sử dụng Tiki Xu tại bước 3 Thanh toán & Đặt mua trong quá trình đặt hàng. Hệ thống sẽ quy đổi Tiki Xu và trừ vào tổng số tiền quý khách sẽ thanh toán cho đơn hàng.
                                        Vui lòng tham khảo thông tin chi tiết về cách sử dụng Tiki Xu tại: <a href="">Các bước sử dụng Tiki Xu và mã giảm giá .</a>
                                    </span>
                                </li>
                                <li>
                                    <h4>3. Chính sách áp dụng Tiki Xu:</h4>
                                    <span>- Tiki Xu áp dụng cho các sản phẩm tại website <a href="">tiki.vn</a> và không được áp dụng đối với một số sản phẩm thuộc ngành hàng Dịch vụ tiện ích như:  Phiếu quà tặng, Ticketbox, Thanh toán hóa đơn,... </span>
                                </li>
                                <li>
                                    <h4>4. Thời hạn sử dụng:</h4>
                                    <span>
                                        - Tiki Xu không giới hạn thời gian sử dụng.<br>
                                        - Với những chương trình có giới hạn thời gian sử dụng Xu được tặng khi quý khách tham gia, Tiki cũng sẽ thể hiện rõ ràng thông tin hạn sử dụng để quý khách nắm.
                                    </span>
                                </li>
                                <li>
                                    <h4>5.Chọn phương thức thanh toán, sử dụng Tiki Xu và “Đặt Mua”:</h4>
                                    <span>
                                        - Tiki hỗ trợ giao hàng và thanh toán tận nơi cho các đơn hàng có tổng trị giá từ 20.000.000đ trở xuống trên toàn quốc.<br>
                                    </span>
                                    <span>
                                        - Sau khi hoàn tất quá trình chọn phương thức thanh toán, vui lòng kiểm tra lại các thông tin sau: xuất hóa đơn VAT (nếu có), địa chỉ nhận hàng, giá khuyến mãi, tổng tiền.<br>

                                    </span>
                                    <span>
                                        - Nếu các thông tin trên đã chính xác, quý khách vui lòng bấm “Đặt Mua”, hệ thống sẽ bắt đầu tiến hành tạo đơn hàng dựa trên các thông tin quý khách đã đăng ký<br>

                                    </span>
                                </li>
                                <li>
                                    <h4>6.Theo dõi tình trạng đơn hàng</h4>
                                    <span>
                                        - Sau khi đặt hàng thành công, quý khách có thể theo dõi tiến trình xử lý và vận chuyển của đơn bằng cách xem thông tin trên giỏ hàng
                                    </span>
                                </li>
                            </ul>
                            <div class="content__footer">
                                <span>ĐẶT HÀNG VÀ THANH TOÁN</span>
                                <span>Tiki Xu Và Mã Giảm Giá</span>
                            </div>
                        </div>
                        <div class="content__right">
                            <h3>Bài viết nổi bật</h3>
                            <li><a href="">Chính sách bảo hành tại Tiki như thế nào?</a></li>
                            <li><a href="">Điều khoản sử dụng </a></li>
                            <li><a href="">Chính sách đổi trả tại Tiki như thế nào?</a></li>
                            <li><a href="">Làm thế nào để tôi đăng ký xuất hóa đơn khi mua hàng tại Tiki?</a></li>
                            <li><a href="">Làm thế nào để tôi đặt hàng qua website Tiki?</a></li>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <span><a href="">Tiki Care</a></span>
                </div>
            </div>

        </div>
        <button>
            <img src="/img/trotruyencungtiki.png" alt="">
        </button>
    </div>
</body>
</html>
