
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/owl.carousel.min.css">
<link rel="stylesheet" href="~/owl.theme.default.min.css">
<link rel="stylesheet" href="~/asset/main.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">


<style>
    p {
        margin-bottom: 1rem;
        font-size: 2rem;
    }
</style>
<div style="margin-top:30px;" class="container">
    <div class="row">
        <div  class="col-lg-8">
            <section  class="silder owl-carousel owl-theme">
                <div class="slider__items slider__item-three">
                    <img src="~/img/img-ip-jpg/slide5.jpg" alt="">
                </div>
                <div class="slider__items slider__item-one">
                    <img src="~/img/img-ip/silder2.jpg" alt="">
                </div>
                <div class="slider__items slider__item-two">
                    <img src="~/img/img-ip/silder3.jpg" alt="">
                </div>
                <div class="slider__items slider__item-three">
                    <img src="~/img/img-ip-jpg/slider1.jpg" alt="">
                </div>

            </section>
        </div>
        <div style="height:462px;text-align:right;" class="col-lg-4">
            <div style="width: 100%; height: 49%; padding: 5px;" class="item">
                <a href="#">
                    <img style="width:100%;height:100%;" src="~/img/sanpham/sticky-gop-390-97-390x97 (1).png" alt="Alternate Text" />
                </a>
            </div>
            <div style="width: 100%; height: 49%; padding: 5px;" class="item">
                <a href="#">
                    <img style="width:100%;height:100%;" src="~/img/sanpham/390-x-97-390x97-1.png" alt="Alternate Text" />
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h1  style="margin-top:50px;text-decoration:unset">Apple sẵn sàng từ bỏ chiếc iPhone tệ nhất lịch sử </h1>
    <h3 style="color:#000;font-style:italic;">

        Theo một tuyên bố chính thức từ Apple, công ty có kế hoạch đưa iPhone 5c và iPad mini 3 vào danh sách các
        thiết bị lỗi thời kể từ ngày 1/11/2022, có nghĩa hãng và trung tâm sửa chữa ủy quyền sẽ kết thúc tất cả các
        chương trình hỗ trợ dịch vụ và sửa chữa.

    </h3>
    <p>
        Theo một tuyên bố chính thức từ Apple, công ty có kế hoạch đưa <a href="#">iphone 5c</a> và iPad
        mini 3 vào danh sách các thiết bị lỗi thời kể từ ngày 1/11/2022, có nghĩa hãng và trung tâm sửa chữa ủy quyền
        sẽ kết thúc tất cả các chương trình hỗ trợ dịch vụ và sửa chữa.
    </p>
    <img style="width:100%;border-radius:1px;" src="~/img/sanpham/iphone-5c_647_082815104936.jpg" alt="" />
    <p>
        Trước khi bị đưa vào danh sách thiết bị lỗi thời, iPhone 5c đã được Apple gắn cờ là thiết bị cổ điển vào
        tháng 10/2020. Về cơ bản, điều này có nghĩa sản phẩm sẽ chỉ được Apple và các trung tâm sửa chữa ủy quyền cung
        cấp một số dịch vụ sửa chữa hạn chế, phụ thuộc vào linh kiện có sẵn. Bây giờ, hai năm sau, iPhone 5c đã chính
        thức trở thành lỗi thời.
    </p>
    <p>
        iPhone 5c là mẫu smartphone được Apple phát hành vào tháng 9/2013, cùng ra mắt với iPhone 5s - chiếc iPhone
        đầu tiên có cảm biến vân tay Touch ID. Trong thời đại mà vỏ hoàn toàn bằng kim loại đang thịnh hành, Apple đã
        trang bị cho iPhone 5c một vỏ nhựa polycarbonate với mặt sau sáng bóng để giảm giá thành. Sản phẩm này cũng
        mang đến nhiều lựa chọn màu sắc nhất cho iPhone ở thời điểm đó.
    </p>
    <img style="width: 100%; border-radius: 1px;" src="~/img/sanpham/iphone5c.jpg"  alt="" />
    <p>
        Mặc dù vậy, iPhone 5c đã không nhận được nhiều thành công, đặc biệt khi sản phẩm thiếu cảm biến vân tay Touch
        ID như iPhone 5s ra mắt cùng thời điểm.
    </p>
    <p>
        Khi được giới thiệu, iPhone 5c được trang bị hệ điều hành iOS 7 và nhận bản cập nhật hệ điều hành cuối cùng
        là iOS 12. Bên trong, điện thoại đi kèm chip A6 32 bit, về cơ bản rất giống với <a href="#">iphone 5c</a>  được ra mắt trước đó một năm.
    </p>
    <span>
        Nguồn:
        https://mobilephone.com.vn/apple-san-sang-tu-bo-chiec-iphone-te-nhat-lich-su-1403746.ngn
    </span>
</div>



